# The following values should specify the credentials for a user of the
# Contrast Team Server, not an admin user.  In other words, you should be
# able to log in to Team Server using these credentials.
#
# These values are available in Team Server, by clicking your name in the
# upper-right of the page and choosing "Your Account".

CONTRAST__API_KEY=''
CONTRAST__ORG_ID=''
CONTRAST__URL='https://eval.contrastsecurity.com/Contrast/'
CONTRAST__AUTHORIZATION=''
